
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.raleway-font{
  font-family: "Raleway", sans-serif;

}

.color-green{
 color: lawngreen;
}

.button {
    /* background-color: #04AA6D; */
    border: none;
    color:030712;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 12px;
  }

  